@media screen and (max-aspect-ratio: 8.9999/16) {
    main {
        aspect-ratio: unset;
        width: 100vw;
        height: calc(100dvh - 80px);
        margin-inline: 0;
    }
    .Logo {
        margin-top: 2dvh;
        height: 14%;
    }
    .Pregunta p,
    .Contenedor_Botones a div p {
        font-size: calc(2.5dvh + 2vw);
    }
    .Contenedor_Botones a div img {
        width: 12dvh;
        height: 12dvh;
    }
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
    font-family: sans-serif;
    height: 100vh;

}

main{
    height: calc(100% - 80px);
    aspect-ratio: 9/16;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo{
    margin-top: 4vh;
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
}
.Logo img{
    height: 100%;
    width: auto;
    object-fit: contain;
}





.Pregunta{
    margin-top: 7vh;
    width: 100%;
    height: 3.5%;
    display: flex;
    align-items: stretch;
}
.Pregunta p{
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3.5vh); /* Ajusta este valor según lo que veas en pantalla */
}


.Contenedor_Botones{
    margin-top: 5vh;
    width: 100%;
    height: 28%;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly ;
}
.Contenedor_Botones a{
    width: 45%;
    background-color: #fff;
    border-radius: 1.5vh;
    border-style: none;
    box-shadow: 0 0.5vh 1vh 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
}
.Contenedor_Botones a div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;

}
.Contenedor_Botones a div img{
    width: 15vh;
    height: 15vh;
    object-fit: contain;
}
.Contenedor_Botones a div p{
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3.5vh); /* Ajusta este valor según lo que veas en pantalla */
}

/* Estilos para el footer con botones */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1080px;
    background: white;
    border-top: 1px solid #ddd;
    z-index: 1000;
}

.Footer_Contenedor_Botones {
        background-color: #d9d9d9;
            display: flex;
            gap: 4%;
            height: 4.2dvh;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            box-sizing: border-box;
        }

        .Footer_Contenedor_Botones button {
            color: #fff;
            border: none;
            border-radius: 0.5dvh;
            font-size: 2.1dvh;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 86%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Inter', sans-serif;
            box-sizing: border-box;
            text-align: center;
        }


#Boton_Atras {
    background-color: #666;
    color: white;
}

#Boton_Atras:hover {
    background-color: #444;
}

/* Ajustar el contenido principal para que no se solape con el footer */

@media screen and (max-aspect-ratio: 8.9999/16) {
    
    .Footer_Contenedor_Botones button {
        font-size: calc(2vh + 1vw);
        padding: 0.8rem 1.5rem;
    }
}


@media screen and (max-width: 600px) {
            .Footer_Contenedor_Botones{
                height: 6.3dvh;
                box-shadow: inset 0 0.75dvh 1.5dvh rgba(0, 0, 0, 0.25);
            }
        }
