*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
    font-family: sans-serif;
    height: 100dvh;

}

main{
    height: 100%;
    aspect-ratio: 9/16;
    margin-inline: auto;


    display: flex;
    flex-direction: column;
    align-items: center;

    

}

.Logo{
    margin-top: 4dvh;
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
}
.Logo img{
    height: 100%;
    width: auto;
    object-fit: contain;
}


.Bienvenida{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: stretch;
}
.Bienvenida p{
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(5dvh); /* Ajusta este valor según lo que veas en pantalla */
}


.Pregunta{
    margin-top: 7dvh;
    width: 100%;
    height: 3.5%;
    display: flex;
    align-items: stretch;
}
.Pregunta p{
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3.5dvh); /* Ajusta este valor según lo que veas en pantalla */
}


.Contenedor_Botones{
    margin-top: 5dvh;
    width: 100%;
    height: 28%;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly ;
}
.Contenedor_Botones button{
    width: 45%;
    background-color: #fff;
    border-radius: 1.5dvh;
    border-style: none;
    box-shadow: 0 0.5dvh 1dvh 0 rgba(0, 0, 0, 0.15);
}
.Contenedor_Botones button img{
    width: 15dvh;
    height: 15dvh;
    object-fit: contain;
}
.Contenedor_Botones button p{
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3.5dvh); /* Ajusta este valor según lo que veas en pantalla */
}







@media screen and (max-aspect-ratio: 8.9999/16) {
    main {
        aspect-ratio: unset;
        width: 100vw;
        height: 100dvh;
        margin-inline: 0;
    }
    .Logo {
        margin-top: 2dvh;
        height: 14%;
    }
    .Bienvenida p,
    .Pregunta p,
    .Contenedor_Botones button p {
        font-size: calc(2.5dvh + 2vw); 
    }
    .Contenedor_Botones button img {
        width: 12dvh;
        height: 12dvh;
    }
}