body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
html, body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}


main{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 80dvh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* Columna_Categorias */
.Columna_Categorias{
    margin: 0;
    padding: 0;

    width: 27%;
    height: 100%;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Columna_Categorias_Informacion{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 13%;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    gap: 2dvh;
    padding: 0.5dvh 0.5dvh 0.5dvh 2dvh;
}

.Contenedor_Categorias {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    height: 87%;
    
    padding: 0 1dvh;
    gap: 0.5dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow-y: scroll;
}
.Contenedor_Categorias button{
    margin: 0;
    padding: 0.5dvh 1dvh;
    box-sizing: border-box;
    gap: 1dvh;
    width: 100%;
    height: 5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 0.5dvh;
    border-style: none;
    background-color: #fff;
    
}

.Contenedor_Categorias button img {
    height: 1.66dvh;
    width: 1.66dvh;
}
.Contenedor_Categorias button p {
    font-size: 1.5dvh;
    font-family: sans-serif;
    font-weight: bold;
    color: #000 !important;
}

.Columna_Categorias_Informacion img{
    margin: 0;
    padding: 0;
    width: 1.66dvh;
    height: 1.66dvh;
}
.Columna_Categorias_Informacion p{
    margin: 0;
    padding: 0;
    font-size: 1.82dvh;
    font-weight: bold;
    font-family: sans-serif;
}
.boton-activo {
    background-color: #facd15 !important;
}


/* Columna Productos*/
.Columna_Productos{
    margin: 0;
    padding: 0;

    width: 73%;
    height: 100%;
    background-color: #eee;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0.3dvh 0 0.3dvh 0 #00000025;
}

.Columna_Productos_Informacion {
    margin: 0;
    padding: 0 1.5dvh;

    width: 100%;
    height: 13%;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.Nombre_Categoria{
    font-size: 2.6dvh;
    font-weight: bold;
    font-family: sans-serif;
}

.Contenedor_Productos{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 86.5%;
    overflow-y: auto;
    overflow-x: hidden;
}
.Categoria{
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: left;
    gap: 1dvh 0.78dvh;
    padding-bottom: 0.5dvh;
    
}
.Producto{
    margin: 0;
    width: 11.97dvh;
    height: 15.62dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5dvh;
    box-shadow: 0 4 4 0 #00000025;
    padding: 1dvh;
    justify-content: space-around;
    transition: all 0.3s ease;
    cursor: pointer;
}
.Producto:hover {
    transform: translateY(-0.26dvh);
    box-shadow: 0 0.4dvh 0.83dvh rgba(0, 0, 0, 0.2);
}
.Producto.added {
    background-color: #facd15;
    transform: scale(1.05);
}
.Producto img{
    margin: 0;
    padding: 0;
    height: 9.89dvh;
    width: 9.89dvh;
}
.Nombre_Producto{
    margin: 0;
    padding: 0;
    font-size: 0.93dvh;
    font-family: sans-serif;
}
.Precio_Producto{
    margin: 0;
    padding: 0;
    font-size: 1.3dvh;
    font-family: sans-serif;
}

footer{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 20dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}


.boton-toggle-footer {
    display: none; /* Oculto por defecto, se muestra en móvil */
}

.Footer_Barra{
    margin: 0;
    padding-left: 1dvh;
    box-sizing: border-box;

    width: 100%;
    height: 2.8vh;
    height: 2.8dvh;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;

    font-weight: bold;
    font-size: 1vh;
    font-size: 1dvh;
}
#minimo-mp-indicador{
    color: #fff;
    margin-left:auto;
    font-size: 1vh;
    font-size: 1dvh;
    padding-right: 1vh;
    padding-right: 1dvh;
}



.Footer_Contenedor_Orden{
    margin: 0;
    padding: 0;

    width: 100%;
    flex: 1;
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-family: sans-serif;
    font-size: 2dvh;
    text-align: center;
    padding: 0 1dvh;
    box-sizing: border-box;
    overflow: hidden;
}

.Footer_Contenedor_Botones{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 4.2vh;
    height: 4.2dvh;
    
    background-color: #d9d9d9;
    box-shadow: inset 0 0.5dvh 1dvh rgba(0, 0, 0, 0.25);


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

footer button{
    margin: 0;
    padding: 0;

    height: 75%;
    width: 43%;
    color: #fff;
    border-radius: 0.5vh;
    border-radius: 0.5dvh;
    font-size: 2.1vh;
    font-size: 2.1dvh;
    font-weight: bold;
    border: none;

    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer button:hover {
    transform: translateY(-0.1dvh);
    box-shadow: 0 0.2dvh 0.4dvh rgba(0, 0, 0, 0.2);
}
#Boton_Cancelar{
    background-color: #B3261E;  
}
#Boton_Continuar{
    background-color: #3A9A53;
}


.Boton_Carrito_Desplegable {
    display: none;
}

.Boton_Carrito {
    display: none;
    margin-left: auto;
    padding: 0.75dvh 1.5dvh;
    font-size: 1.65dvh;
    background-color: #facd15;
    border: none;
    border-radius: 0.6dvh;
    cursor: pointer;
    font-weight: bold;
}
.Carrito_Contador {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 1.24dvh;
    padding: 0.3dvh 0.6dvh;
    border-radius: 25%;
    margin-left: 0.75dvh;
    min-width: 1.95dvh;
    text-align: center;
}

@media (orientation: landscape) {
    .Footer_Barra {
        display: none !important;
    }
    .Footer_Contenedor_Orden {
        display: none !important;
    }
    main {
        flex: 1;
    }
    footer {
        height: 5dvh !important;
    }
    .Footer_Contenedor_Botones {
        height: 100% !important;
    }

    .Boton_Carrito {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


    .Contenedor_Categorias{
        overflow-y: auto;
    }
    


    .Producto{
    width: 17.95dvh;
    height: 23.43dvh;
    border-radius: 0.75dvh;
    box-shadow: 0 6 6 0 #00000025;
    padding: 1.5dvh;
    }
    .Producto:hover {
    transform: translateY(-0.39dvh);
    box-shadow: 0 0.6dvh 1.24dvh rgba(0, 0, 0, 0.2);
}

.Producto img{
    height: 14.83dvh;
    width: 14.83dvh;
}
.Nombre_Producto{
    font-size: 1.39dvh;
}
.Precio_Producto{
    font-size: 1.95dvh;
}

.Columna_Categorias_Informacion p{
    font-size: 2.73dvh;
}
.Nombre_Categoria{
    font-size: 3.9dvh;
}


.Contenedor_Categorias button{
    padding: 0.75dvh 1.5dvh;
    gap: 1.5dvh;
    height: 7.5dvh;
    border-radius: 0.75dvh;
    
}

.Contenedor_Categorias button img {
    height: 2.49dvh;
    width: 2.49dvh;
}
.Contenedor_Categorias button p {
    font-size: 2.25dvh;
}




.Footer_Contenedor_Botones{
    height: 6.3vh;
    height: 6.3dvh;
    box-shadow: inset 0 0.75dvh 1.5dvh rgba(0, 0, 0, 0.25);
}
footer button{
    border-radius: 0.75vh;
    border-radius: 0.75dvh;
    font-size: 3.15vh;
    font-size: 3.15dvh;
}
footer button:hover {
    transform: translateY(-0.15dvh);
    box-shadow: 0 0.3dvh 0.6dvh rgba(0, 0, 0, 0.2);
}




}

@media (min-aspect-ratio: 3/2) {    

        footer {
        height: 7.5dvh !important;
    }

        .Producto{
    width: 26.92dvh;
    height: 35.14dvh;
    border-radius: 1.12vh;
    box-shadow: 0 9 9 0 #00000025;
    padding: 2.25dvh;
    }
    .Producto:hover {
    transform: translateY(-0.58dvh);
    box-shadow: 0 0.9dvh 1.86dvh rgba(0, 0, 0, 0.3);
}

.Producto img{
    height: 22.24dvh;
    width: 22.24dvh;
}
.Nombre_Producto{
    font-size: 2.08dvh;
}
.Precio_Producto{
    font-size: 2.92dvh;
}

.Columna_Categorias_Informacion p{
    font-size: 4.09dvh;
}
.Nombre_Categoria{
    font-size: 5.85dvh;
}



.Contenedor_Categorias button{
    padding: 1.12dvh 2.25dvh;
    gap: 2.25dvh;
    height: 11.25dvh;
    border-radius: 1.12dvh;
    
}

.Contenedor_Categorias button img {
    height: 3.73dvh;
    width: 3.73dvh;
}
.Contenedor_Categorias button p {
    font-size: 3.37vh;
}


.Boton_Carrito {
    padding: 1.12dvh 2.25dvh;
    font-size: 2.47dvh;
    border-radius: 0.9dvh;
}
.Carrito_Contador {
    font-size: 1.86dvh;
    padding: 0.45dvh 0.9dvh;
    border-radius: 25%;
    margin-left: 1.12dvh;
    min-width: 2.92dvh;
}






.Footer_Contenedor_Botones{
    height: 9.45vh;
    height: 9.45dvh;
    box-shadow: inset 0 1.12dvh 2.25dvh rgba(0, 0, 0, 0.25);
}
footer button{
    border-radius: 1.12vh;
    border-radius: 1.12dvh;
    font-size: 4.72vh;
    font-size: 4.72dvh;
}
footer button:hover {
    transform: translateY(-0.22dvh);
    box-shadow: 0 0.45dvh 0.9dvh rgba(0, 0, 0, 0.2);
}

}



/* Overlay Personalizacion */
.Overlay_Personalizacion {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: sans-serif;
    box-sizing: border-box;

    display: none;
}
.OP_Contenido {
    height: 75vh;
    aspect-ratio: 9/16;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 1vh;
    overflow: hidden;
}

.OP_Header {
    width: 100%;
    height: 12dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1dvh;
    box-sizing: border-box;
}
.OP_InfoProducto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5dvh;
}
.OP_ImagenProducto {
    width: 10dvh;
    height: 10dvh;
}
.OP_NombreProducto {
    font-size: 2vh;
    font-size: 2dvh;
    font-weight: bold;
}
.OP_ContenedorPrecio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}
.OP_Precio{
    font-size: 1.5dvh;
    font-weight: 900;
    color: #3A9A53;
    padding: 0;
    margin: 0;
}



.OP_Body {
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1dvh;
    gap: 1.5dvh;
}
.OP_Body_Titulo {
    font-size: 2.6vh;
    font-size: 2.6dvh;
    width: 100%;
    font-weight: bold;
    margin: 0;
    text-align: start;
}
.OP_Contenedor_Personalizaciones {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2.6dvh;
    gap: 1dvh;
    display: flex;
    flex-direction: column;
}
.OP_Personalizacion
    {
        width: 100%;
        height: 4.6dvh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 1.5dvh;
        gap: 1dvh;
        box-sizing: border-box;

        border-radius: 0.5dvh;
        border-width: 0.15dvh;
        border-color: #ccc;
        border-style: solid;
    }
.OP_Checkbox{
    width: 2dvh;
    height: 2dvh;
    background-color: #E8E8E8;

}
.OP_Personalizacion_Nombre {
    font-size: 1.8vh;
    font-size: 1.8dvh;
    font-weight: bold;
    font-family: sans-serif;
}




.OP_Footer {
    width: 100%;
    height: 4.2dvh;
    margin: 0;
    background-color: #888;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.OP_Footer button {
    height: 75%;
    width: 43%;
    color: #fff;
    border-radius: 1vh;
    border-radius: 1dvh;
    font-size: 2.1vh;
    font-size: 2.1dvh;
    font-weight: bold;
    border: none;
}
#Eliminar {
    background-color: #B3261E;
}

#Agregar {
    background-color: #3A9A53;
}

/* Botón de menú móvil - oculto por defecto */
.Menu_Toggle_Btn {
    display: none;
    background: none;
    border: none;
    font-size: 3.5dvh;
    cursor: pointer;
    color: #333;
    padding: 0.5dvh;
    margin-right: 1dvh;
    margin-bottom: 0.75dvh;
    
}

/* Overlay para cerrar menú - oculto por defecto */
.Menu_Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* RESPONSIVE - SOLO PARA MÓVILES */
@media screen and (max-width: 600px) {


    .Boton_Carrito_Desplegable {
    display: none; /* Oculto en móviles, reemplazado por boton-toggle-footer */
    margin-left: auto;
    padding: 0.75dvh 1.5dvh;
    font-size: 1.65dvh;
    background-color: #facd15;
    border: none;
    border-radius: 0.6dvh;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}




    /* Mostrar el botón de menú */
    .Menu_Toggle_Btn {
        display: block;
    }
    
    /* Columna de categorías oculta por defecto */
    .Columna_Categorias {
        position: fixed;
        top: 0;
        left: 0;
        width: 75vw;
        max-width: 300px;
        height: 100dvh;
        z-index: 1000;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    }
    
    /* Mostrar la columna cuando esté activa */
    .Columna_Categorias.menu-activo {
        transform: translateX(0);
    }
    
    /* Columna de productos ocupa todo el ancho */
    .Columna_Productos_Informacion {
        height: 8.884dvh;
    }
    .Contenedor_Productos{
        flex: 1;
    }
    .Columna_Productos {
        width: 100vw !important;
        margin-left: 0 !important;
    }
    
    /* Mostrar overlay cuando el menú esté activo */
    .Menu_Overlay.activo {
        display: block;
    }
    
    /* Ajustes para la información de productos en móvil */
    .Columna_Productos_Informacion {
        display: flex;
        align-items: center;
        padding: 0 2dvh;
    }
    



    .Columna_Categorias_Informacion img{
    width: 2.5dvh;
    height: 2.5dvh;
}
.Columna_Categorias_Informacion p{
    font-size: 2.73dvh;
}


    /* Ajustes para categorías en móvil */
    .Contenedor_Categorias button {
        padding: 2dvh !important;
        margin-bottom: 1dvh;

    }
    .Contenedor_Categorias button img {
    height: 2.5dvh;
    width: 2.5dvh;
    }
    .Contenedor_Categorias button p {
         font-size: 2.25dvh !important;
}
    
    /* Mejor diseño para productos en móvil - usando diseño original escalado */
    .Contenedor_Productos {
        padding: 1dvh;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 1dvh 0.7dvh;
    }
    
    .Categoria {
        width: 100% !important;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: left !important;
        gap: 1dvh 0.7dvh;
        padding-bottom: 3dvh;
    }
    
    .Producto {
        /* Escalado proporcional para 3 columnas */
        width: calc(33.33% - 0.5dvh) !important;
        height: calc((33.33vw - 0.5dvh) * 15.62 / 11.97) !important; /* Altura calculada para mantener aspect-ratio */
        margin: 0 !important;
        padding: 0.8dvh !important;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0.5dvh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        justify-content: space-between;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    
    .Producto:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .Producto.added {
        background-color: #facd15;
        transform: scale(1.05);
    }
    
    /* Imagen escalada proporcionalmente */
    .Producto img {
        width: 85% !important; /* Reducido de 100% a 85% para dar más espacio al texto */
        height: auto !important;
        aspect-ratio: 1/1 !important;
        object-fit: contain !important;
        margin: 0 auto !important; /* Centrar la imagen */
        padding: 0 !important;
        flex-shrink: 0; /* Evita que la imagen se reduzca */
    }
    
    /* Texto escalado proporcionalmente */
    .Nombre_Producto {
        font-size: 2.8vw !important; /* Reducido ligeramente de 3vw para que quepa mejor */
        font-family: sans-serif !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        line-height: 1.1; /* Reducido para aprovechar mejor el espacio */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        flex-shrink: 0; /* Evita que el texto se reduzca */
        height: 7vw; /* Aumentado de 6vw a 7vw para más espacio */
    }
    
    .Precio_Producto {
        font-size: 3vw !important; /* Escalado relativo al ancho */
        font-family: sans-serif !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        font-weight: bold;
        color: #000;
        flex-shrink: 0; /* Evita que el precio se reduzca */
    }





    /* Footer */
    main{
    height: 70dvh;
}
    footer{

    height: 30dvh;
}

.Footer_Barra{
    padding-left: 1.5dvh;
    height: 4.2vh;
    height: 4.2dvh;
    font-size: 1.5vh;
    font-size: 1.5dvh;
}
#minimo-mp-indicador{
    font-size: 1.5vh;
    font-size: 1.5dvh;
    padding-right: 1.5vh;
    padding-right: 1.5dvh;
}



.Footer_Contenedor_Orden{
    font-size: 4dvh;
    padding: 0 2dvh;
}

.Footer_Contenedor_Botones{
    height: 6.3vh;
    height: 6.3dvh;
    box-shadow: inset 0 0.75dvh 1.5dvh rgba(0, 0, 0, 0.25);
}

footer button{
    border-radius: 0.75vh;
    border-radius: 0.75dvh;
}
footer button:hover {
    transform: translateY(-0.15dvh);
    box-shadow: 0 0.3dvh 0.6dvh rgba(0, 0, 0, 0.2);
}

    /* Botón toggle footer para móviles */
    .boton-toggle-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        
        /* Posicionamiento */
        position: absolute;
        bottom: 100%; /* Justo arriba del footer */
        left: 50%; /* Centrado horizontalmente */
        transform: translateX(-50%); /* Centrar perfectamente */
        
        /* Tamaños y estilo */
        width: 10dvh;
        height: 3.5dvh;
        background: #facd15;
        border-radius: 1dvh 1dvh 0 0; /* Bordes redondeados arriba */
        cursor: pointer;
        z-index: 10; /* Para superponerse al contenido */
        
        /* Tipografía */
        font-size: 2.5dvh;
        font-weight: bold;
        color: #333;
        
        /* Transición suave */
        transition: all 0.3s ease;
    }
    
    /* El footer necesita position relative */
    footer {
        position: relative;
    }

    /* Estados del footer en móviles */
    .Footer_Contenedor_Orden.hidden {
        display: none;
    }
    
    /* Footer colapsado - altura reducida */
    footer.footer-collapsed {
        height: 10.5dvh !important;
    }
    
    /* Main con flex 1 para ajuste automático */
    main {
        flex: 1;
    }

}